<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    <h2>Welcome to Your Dashboard</h2>
    <p>This is your user dashboard.</p>

    <!-- Exibir informações do usuário -->
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Age: {{ user.userprofile.age }}</p>

    <!-- Link para a página de edição de perfil -->
    <a href="{% url 'edit_profile' %}">Edit Profile</a>
    
    <!-- Formulário de logout -->
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
</body>
</html>
